<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TABASCO Y MAS_UN BUEN LUGAR PARA VIAJAR</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
#foto_CAUS {
	background-color: #F00;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #900;
}
</style>
<!-- InstanceEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: bold;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1>TABASCO Y MAS...</h1>
    <h1 class="azul">UN BUEN LUGAR PARA VIAJAR</h1>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="index.htm">Inicio</a></li>
      <li><a href="Turismo arqueológico.htm">Arqueología</a></li>
      <li><a href="Ecoturísmo y aventura.htm">Ecoturísmo</a></li>
       <li><a href="Agroturismo.htm">Agroturismo</a></li>
        <li><a href="playas.htm">playas </a></li>
       
       
      
    
      
    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- InstanceBeginEditable name="TITULO" --><br />
      Cañón del Usumacinta<!-- InstanceEndEditable --></h2>
     <!-- InstanceBeginEditable name="CONTENIDO" -->
     <h3>Descripción del sitio</h3>
     <p><img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/Cañon_del_usumacinta/Cañon_del_usumacinta.jpg" name="foto_CAUS" width="598" height="331" id="foto_CAUS" /></p>
     <p>Paisaje de la reserva &quot;Cañón del Usumacinta&quot;.</p>
     <img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/Cañon_del_usumacinta/Tenosique_Rafting.jpg" name="foto_CAUS" width="598" height="331" id="foto_CAUS" />
<p>&nbsp;</p>
     <p>En este lugar, es posible realizar actividades de  &quot;rafting&quot; en los rápidos de &quot;San José&quot; y  &quot;Desempeño&quot;, aunque se puede esquiar por aquaficisacion.</p>
     <img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/Cañon_del_usumacinta/Cañón_del_Usumacinta.jpg" name="foto_CAUS" width="598" height="331" id="foto_CAUS" />
<p>&nbsp;</p>
     <p>Dentro de este lugar se localiza el balneario &quot;Boca del  cerro&quot;, sitio donde se pueden admirar en temporada de verano, los playones  que se forman a orillas del río Usumacinta acompañado por la comida típica  tabasqueña, además de realizar recorridos en lancha y senderismo.     </p>
     <p><img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/Cañon_del_usumacinta/800px-Jaguar_at_Edinburgh_Zoo.jpg" name="foto_CAUS" width="598" height="331" id="foto_CAUS" /></p>
     <p>El jaguar, uno de los habitantes de la reserva &quot;Cañón del Usumacinta&quot; que forma parte de la biodiversidad.</p>
     <h3>Cómo llegar </h3>
     <p>El área se ubica dentro de la provincia biogeográfica de El peten , encontrándose próxima a los límites con la Republica de Guatemala y Chiapas, los que a través de la sierra y vegetación de selva alta perennifolia forman un corredor biológico por el cual la diversidad de especies se han integrado a la riqueza faunística y florística de la zona.</p>
<img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/Cañon_del_usumacinta/mapa_usumacinta.png" width="598" height="331" />La reserva está ubicada en el sureste del estado de Tabasco, en el municipio de Tenosique, a solo 20km de la cabecera municipal y a 194 km al sureste de la ciudad de Villahermosa, la capital del estado.
     <h1><a href="Ecoturísmo y aventura.htm">volver</a></h1>
     <p>&nbsp;</p>
     <!-- InstanceEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright © 2018  TABASCO Y MAS </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
