<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TABASCO Y MAS_UN BUEN LUGAR PARA VIAJAR_MALPASITO</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: bold;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1>TABASCO Y MAS...</h1>
    <h1 class="azul">UN BUEN LUGAR PARA VIAJAR</h1>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="index.htm">Inicio</a></li>
      <li><a href="Turismo arqueológico.htm">Arqueología</a></li>
      <li><a href="Ecoturísmo y aventura.htm">Ecoturísmo</a></li>
       <li><a href="Agroturismo.htm">Agroturismo</a></li>
        <li><a href="playas.htm">playas </a></li>
       
       
      
    
      
    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- InstanceBeginEditable name="TITULO" -->Malpasito<!-- InstanceEndEditable --></h2>
     <!-- InstanceBeginEditable name="CONTENIDO" -->
     <h3><span id="Descripción_del_sitio">Descripción del sitio</span></h3>
     <p><img src="../imagenes/arqueologia/malpasito/1024px-Malpasito_01.jpg" width="598" height="331" /></p>
     <p>Escalinata al Patio Sur </p>
     <p>El sitio arqueológico de Malpasito, data de los años 700 a  900 dC,​ época en que el centro ceremonial alcanzó su máximo desarrollo,  contando con un área de 17 hectáreas en las que se encuentran 53 estructuras  rectangulares distribuidas en torno a un eje norte-sur.</p>
     <p> Entre sus  estructuras destacan: el juego de pelota, el baño de vapor, la gran plaza y un  patio hundido. Otro de los principales atractivos del sitio lo constituyen 60  petrograbados en los que pueden admirarse personajes, animales y diseños  geométricos, así como representaciones de carácter simbólico relacionadas con  ritos de fertilidad y cacería.</p>
     <p><img src="../imagenes/arqueologia/malpasito/5.jpg" width="598" height="331" /></p>
     <p>juego de pelota</p>
     <p><img src="../imagenes/arqueologia/malpasito/6.jpg" width="598" height="331" /></p>
     <p>baño de vapor</p>
     <p><img src="../imagenes/arqueologia/malpasito/teraza_principal.jpg" width="598" height="331" /></p>
     <p>Terraza principal     </p>
     <h3>Como llegar</h3>
     <a href="https://www.google.com.mx/maps/place/Zona+Arqueol%C3%B3gica+de+Malpasito/@17.3377108,-93.599147,15z/data=!4m5!3m4!1s0x0:0x560546282ad0e6e!8m2!3d17.3377108!4d-93.599147"><img src="../imagenes/arqueologia/malpasito/MAPA_MALPASITO.png" width="607" height="330" /></a>
<p>Para llegar a esta zona arqueológica saliendo de  Villahermosa, se deberá tomar la carretera federal No. 180, hasta la ciudad de  Heroica Cárdenas, de ahí tomar la carretera federal 187 con dirección a  Huimanguillo, continuando con dirección a la población de Mal Paso, Chiapas. En  el Km 29.9 se localiza una desviación a la derecha, de ahí se recorren 3.5  kilómetros de terracería llegando a la colonia Las Flores, ahí existe una  desviación a la izquierda, en esta se recorren 2.5 kilómetros hasta el poblado  Malpasito. Del poblado se continua 1.2 kilómetros hacia el Suroeste por otra  terracería que va en ascenso por la cima de una loma hasta la zona  arqueológica. La distancia es de 130 km.</p>
<p>&nbsp;</p>
<h3><strong>Servicios disponibles en la zona</strong>:</h3>
<p>Taquilla, sanitarios y señalización.</p>
<h3><strong>Horario</strong>:</h3>
<p>Lunes a Domingo 08:00 a 17:00 horas</p>
<h3><strong>Costo de acceso</strong>:</h3>
<p>$45.00 pesos</p>
<h3><strong>Recomendaciones</strong></h3>
<p>
  Se recorre a pie una distancia de 320 metros a traves de un andador revestido con grava que conduce a la Plaza principal, por lo que se recomienda llevar agua para hidratarse, ropa cómoda y calzado antiderrapante. En temporada de lluvia julio-septiembre, llevar impermeable.</p>
<h1><a href="Turismo arqueológico.htm">volver</a><br />
</h1>
<p>&nbsp;</p>
    <!-- InstanceEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright © 2018  TABASCO Y MAS </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
