<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TABASCO Y MAS_UN BUEN LUGAR PARA VIAJAR</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
#foto_pantanos {
	background-color: #F00;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #900;
}
</style>
<!-- InstanceEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: bold;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1>TABASCO Y MAS...</h1>
    <h1 class="azul">UN BUEN LUGAR PARA VIAJAR</h1>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="index.htm">Inicio</a></li>
      <li><a href="Turismo arqueológico.htm">Arqueología</a></li>
      <li><a href="Ecoturísmo y aventura.htm">Ecoturísmo</a></li>
       <li><a href="Agroturismo.htm">Agroturismo</a></li>
        <li><a href="playas.htm">playas </a></li>
       
       
      
    
      
    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- InstanceBeginEditable name="TITULO" -->Pantanos de Centla<!-- InstanceEndEditable --></h2>
     <!-- InstanceBeginEditable name="CONTENIDO" -->
     <h3>     Descripción del sitio</h3>
     <img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/pantanos_de_centla/800px-Pantanos_de_Centla_2.JPG" name="foto_pantanos" width="598" height="331" id="foto_pantanos" />
<p>Este paseo te llevará a Centla, un municipio del estado de Tabasco, en donde se encuentra el humedal más importante del continente americano: La Reserva de la Biosfera Pantanos de Centla, el cual alberga una gran variedad de fauna.<br />
</p>
<p><img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/pantanos_de_centla/800px-Pantanos_de_Centla_09 (1).JPG" name="foto_pantanos" width="598" height="331" id="foto_pantanos" /></p>
<p>Los manglares representan el 2% del territorio de la reserva.</p>
<p>&nbsp; </p>
<p> Además, existe una torre de unos 20 metros de altura, la cual  ofrece una vista increíble de los Pantanos de Centla. También se pueden hacer  diversas actividades de ecoturismo como: recorridos en lancha, avistamiento de  aves y otros.     </p>
<p><img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/pantanos_de_centla/800px-Pantanos_de_Centla_04.JPG" name="foto_pantanos" width="598" height="331" id="foto_pantanos" /></p>
<p>Cuenta con la &quot;Estación Tres Brazos&quot; y el Centro  de Interpretación &quot;Uyotot-Ja&quot; (&quot;La Casa del Agua&quot;) en la  que existe un museo interactivo en el que se explica la importancia de este  ecosistema. </p>
<p>&nbsp;</p>
<p><img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/pantanos_de_centla/Pantanos_de_Centla.jpg" name="foto_pantanos" width="598" height="331" id="foto_pantanos" /></p>
<p>Bello atardecer en la Reserva de la Biósfera <strong>Pantanos de Centla</strong>.</p>
<h3>Cómo llegar </h3>
<p> De Villahermosa habrá que trasladarte hacia el municipio de Centla, que se encuentra a 74 kilómetros de la capital, con un tiempo de camino de 1 hora aproximadamente.</p>
<a href="https://www.google.com.mx/maps/search/Pantanos+de+Centla/@18.4405112,-92.6523236,11z/data=!3m1!4b1"><img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/pantanos_de_centla/mapa_pantanos.png" width="598" height="331" /></a>
<h1><a href="Ecoturísmo y aventura.htm">volver</a></h1>
     <p>&nbsp;</p>
     <!-- InstanceEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright © 2018  TABASCO Y MAS </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
