<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TABASCO Y MAS_UN BUEN LUGAR PARA VIAJAR</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
#foto_yu {
	background-color: #F00;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #900;
}
</style>
<!-- InstanceEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: bold;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1>TABASCO Y MAS...</h1>
    <h1 class="azul">UN BUEN LUGAR PARA VIAJAR</h1>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="index.htm">Inicio</a></li>
      <li><a href="Turismo arqueológico.htm">Arqueología</a></li>
      <li><a href="Ecoturísmo y aventura.htm">Ecoturísmo</a></li>
       <li><a href="Agroturismo.htm">Agroturismo</a></li>
        <li><a href="playas.htm">playas </a></li>
       
       
      
    
      
    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- InstanceBeginEditable name="TITULO" -->Parque Yumka'<!-- InstanceEndEditable --></h2>
     <!-- InstanceBeginEditable name="CONTENIDO" -->
     <h3>Descripción del sitio</h3>
     <p><img src="../imagenes/aventura/yumka/800px-Villahermosa_Yumka_1.jpg" name="foto_yu" width="598" height="331" id="foto_yu" /></p>
     <p>Fue establecido como &quot;monumento ecológico&quot; el 19 de  diciembre de 1987 y posteriormente como área natural protegida el 5 de junio de  1993.</p>
     <img src="../imagenes/aventura/yumka/descarga (1).jpg" name="foto_yu" width="259" height="194" id="foto_yu" /><img src="../imagenes/aventura/yumka/images.jpg" name="foto_yu" width="259" height="194" id="foto_yu" />
<p>El Yumká es un zoológico en donde los visitantes pueden  apreciar especies de animales de diversas partes del mundo. </p>
<img src="../imagenes/aventura/yumka/2015-08-28_06-08-11___184.jpeg" name="foto_yu" width="598" height="331" id="foto_yu" />
<p>Su vegetación  principal es selva alta y mediana perennifolia, la sabana y laguna. </p>
<p><img src="../imagenes/aventura/yumka/11704034.jpg" name="foto_yu" width="598" height="331" id="foto_yu" /></p>
<p>El  recorrido se realiza en un trenecito, y se cuenta con la explicación de los  guías. </p>
<img src="../imagenes/aventura/yumka/descarga.jpg" name="foto_yu" width="268" height="141" id="foto_yu" /><img src="../imagenes/aventura/yumka/yumka.jpg" name="foto_yu" width="271" height="141" id="foto_yu" /><img src="../imagenes/aventura/yumka/photoEscudo_TAB_Parque_Yumka_Ac_yumkaprov-1024x468.jpg" name="foto_yu" width="598" height="331" id="foto_yu" />
<h3>Cómo llegar </h3>
     <p>y se localiza a 15 km al oriente de la ciudad de  Villahermosa siendo uno de los centros turísticos más importantes de la capital  del estado. </p>
<a href="https://www.google.com.mx/maps/dir//Yumka´,+Tabasco/@18.0005444,-92.8391108,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85edd81e9d7ab27f:0xa2e3990ea16723e5!2m2!1d-92.8040911!2d18.0005475!3e0"><img src="../imagenes/aventura/yumka/mapa_yunca.png" width="598" height="331" /></a>
<h1><a href="Ecoturísmo y aventura.htm"></a></h1>
     <h1><a href="Ecoturísmo y aventura.htm">volver</a></h1>
     <p>&nbsp;</p>
    <!-- InstanceEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright © 2018  TABASCO Y MAS </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
