<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TABASCO Y MAS_UN BUEN LUGAR PARA VIAJAR</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
#foto_tpj {
	background-color: #F00;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #900;
}
</style>
<!-- InstanceEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: bold;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1>TABASCO Y MAS...</h1>
    <h1 class="azul">UN BUEN LUGAR PARA VIAJAR</h1>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="index.htm">Inicio</a></li>
      <li><a href="Turismo arqueológico.htm">Arqueología</a></li>
      <li><a href="Ecoturísmo y aventura.htm">Ecoturísmo</a></li>
       <li><a href="Agroturismo.htm">Agroturismo</a></li>
        <li><a href="playas.htm">playas </a></li>
       
       
      
    
      
    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- InstanceBeginEditable name="TITULO" -->Tapijulapa<!-- InstanceEndEditable --></h2>
     <!-- InstanceBeginEditable name="CONTENIDO" -->
     <h3>Descripción del sitio</h3>
     <img src="../imagenes/aventura/tapijulapa/800px-Tapijulapa.JPG" name="foto_tpj" width="598" height="331" id="foto_tpj" />
<p> Tapijulapa es uno de los pueblos más  pintorescos del estado y decretado pueblo mágico de México, cuyas estrechas  callejuelas adoquinadas invitan a admirar sus tradicionales casas blancas de  tejas rojas. </p>
<img src="../imagenes/aventura/tapijulapa/jpg_tapijulapa_01.jpg" name="foto_tpj" width="598" height="331" id="foto_tpj" />
<p>Se localiza a orillas de dos ríos de hermosas tonalidades:  Oxolotán y Amatán.</p>

<p><img src="../imagenes/aventura/tapijulapa/IMG_0891.jpg" name="foto_tpj" width="598" height="331" id="foto_tpj" /></p>
     <p> En esta legendaria villa los artesanos elaboran artesanías  de madera y el mimbre. </p>
     <p>Cuenta con el Templo de Santiago Apóstol, un templo del  siglo XVII, lo atractivo de este templo es que está erigido en la cima de un  cerro, desde donde se pueden admirar los bellos paisajes de exuberante  vegetación y valles montañosos.</p>
     <img src="../imagenes/aventura/tapijulapa/jpg_tabasco_pueblo_magico_tapijulapa_iglesia_santiago_apostol_ir_0.jpg" name="foto_tpj" width="598" height="331" id="foto_tpj" />
<p>Cuenta con dos hoteles de los cuales uno es un hotel  comunitario, restaurantes, tiendas de artesanías, y para los amantes de los deportes extremos, Tapijulapa cuenta con una tirolesa que atraviesa el río de la Sierra.</p>
<p>&nbsp;</p>
     <h3>Cómo llegar</h3>
     <p>Localizado en el municipio de Tacotalpa, a 90 km de la  ciudad de Villahermosa, se ubica la villa de Tapijulapa.</p>
     <a href="https://www.google.com.mx/maps/place/Tapijulapa,+Tab./@17.4597672,-92.7861256,15z/data=!3m1!4b1!4m5!3m4!1s0x85ed97fecaddcb27:0xb1e88080b0a80822!8m2!3d17.4622198!4d-92.7779652"><img src="../imagenes/aventura/tapijulapa/mapa_tapijulapa.png" width="598" height="330" /></a>
<p>La ruta inicia en Villahermosa por la carretera federal 195 con dirección a Tuxtla Gutiérrez, Chiapas, hasta entroncar con la carretera local que lleva a Teapa, posteriormente a Tacotalpa y después se sigue a Tapijulapa.</p>
<p>En la terminal de autobuses de Villahermosa hay salidas frecuentes a Tacotalpa, desde allí se puede abordar el autobús local que lleva a Tapijulapa, también se ofrece un servicio de camionetas y taxis.</p>
     <h1><a href="Ecoturísmo y aventura.htm">volver</a></h1>
     <!-- InstanceEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright © 2018  TABASCO Y MAS </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
