<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>TABASCO Y MAS_UN BUEN LUGAR PARA VIAJAR</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
#foto_viilaluz {
	background-color: #F00;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #900;
}
</style>
<!-- InstanceEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: bold;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1>TABASCO Y MAS...</h1>
    <h1 class="azul">UN BUEN LUGAR PARA VIAJAR</h1>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="index.htm">Inicio</a></li>
      <li><a href="Turismo arqueológico.htm">Arqueología</a></li>
      <li><a href="Ecoturísmo y aventura.htm">Ecoturísmo</a></li>
       <li><a href="Agroturismo.htm">Agroturismo</a></li>
        <li><a href="playas.htm">playas </a></li>
       
       
      
    
      
    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- InstanceBeginEditable name="TITULO" -->Villa Luz<!-- InstanceEndEditable --></h2>
     <!-- InstanceBeginEditable name="CONTENIDO" -->
     <h3>Descripción del sitio</h3>
     <img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/viilla luz/800px-Tapijulapa_Canoppy.jpg" name="foto_viilaluz" width="598" height="331" id="foto_viilaluz" />
     <p>Muy cerca de Villaluz, se encuentra la <em>&quot;Cueva de las sardinas ciegas&quot;</em>.</p>
     <img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/viilla luz/portada-villa-luz-cueva-de-las-sardinas.jpg" name="foto_viilaluz" width="598" height="331" id="foto_viilaluz" />
<p>esta peculiar cueva resulta de gran interés para los geólogos y biólogos por contar con uno de los micro-ecosistemas más singulares del planeta, compuesto por varias especies que viven en condiciones de oscuridad total, de entre las cuales sobresale una especie de sardina, lo que ha valido para que científicos de la Nasa hayan realizado varios estudios en su interior.</p>
<img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/viilla luz/actividades-principales_tabasco_tapijulapa_aventurate-en-la-cueva-de-las-sardinas-ciegas_02.jpg" name="foto_viilaluz" width="598" height="331" id="foto_viilaluz" />
<p> En este lugar se lleva a cabo durante la semana santa, una de las manifestaciones culturales más importantes de la entidad, la tradicional danza de origen prehispánico: &ldquo;Pesca de la Sardina ciega&rdquo;.</p>
<img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/viilla luz/Cueva-realizan-tradicional-pesca-de-la-sardina.jpg" name="foto_viilaluz" width="598" height="331" id="foto_viilaluz" />
<p>&nbsp;</p>
     <h3>Cómo llegar</h3>
     <p>A sólo 3 km en lancha desde Tapijulapa, en el municipio de Tacotalpa se halla este lugar místico y mágico </p>
     <p><a href="https://www.google.com.mx/maps/search/villa+luz+tabasco/@17.4541169,-92.7798019,15z/data=!3m1!4b1"><img src="../imagenes/Ecoturísmo y aventura/ecoturismo_y_aventura/viilla luz/mapa_villa_luz.png" width="598" height="330" /></a></p>
     <h1><a href="Ecoturísmo y aventura.htm">volver</a></h1>
     <p>&nbsp;</p>
     <!-- InstanceEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright © 2018  TABASCO Y MAS </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
